.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: $boxRadius;
    &:hover,
    &:focus,
    &:active {
        transition: all $buttonTransiotnDuration;
        border-color: var(--secondary-color) !important;
        background-color: var(--secondary-color) !important;
        box-shadow: $boxShadow !important;
    }
}

.btn-outline-primary {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: $boxRadius;
    &:hover,
    &:focus,
    &:active {
        transition: all $buttonTransiotnDuration;
        border-color: var(--secondary-color) !important;
        background-color: var(--secondary-color) !important;
        box-shadow: $boxShadow !important;
    }
}