$buttonTransiotnDuration: 0.4s;

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transition: all $buttonTransiotnDuration;
  border-radius: $boxRadius;
  &:hover {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
  }
}
