aside {
    transition: all $sidebarTrasition;
    width: calc(10rem + 10vw);
    height: 100vh;
    position: fixed;
    background-color: var(--box-background-color);
    top: 0;
    padding: $boxPadding;
    &.left {
        z-index: 99999;
        border-right: 1px solid var(--border-color);
        left: 0;
        .brand {
            height: 45px;
            align-items: center;
            display: flex;
            .site-name {
                font-size: $headingText;
                color: var(--primary-color);
                margin: 0;
            }
        }
        .sidebar-content {
            ul {
                &.tabs {
                    margin: 0;
                    margin-top: 50px;
                    padding: 0;
                    li {
                        padding: 5px 0px 5px;
                        list-style: none;
                        width: 100%;
                        float: left;
                        a {
                            color: var(--general-text-color);
                            text-decoration: none;
                            font-size: $generalText;
                            &.active {
                                color: var(--primary-color);
                            }
                            svg {
                                height: $generalText;
                                position: relative;
                                bottom: 2px;
                            }
                        }
                    }
                }
            }
        }
        .sidebar-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .profile {
                display: flex;
                align-items: center;
                .avatar {
                    height: calc(2rem + 2vh);
                    width: calc(2rem + 2vh);
                    background-size: cover;
                    background-position: center;
                    border-radius: 50%;
                }
                h4 {
                    margin: 0 8px;
                    font-size: $paragraphText;
                }
            }
            span {
                color: var(--general-text-color);
            }
        }
    }
    &.right {
        border-left: 1px solid var(--border-color);
        right: 0;
        z-index: 9999999;
    }
}

.tabs-menu {
    margin: 0;
    padding: 0;
    display: none;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    border-top: 1px solid var(--border-color);
    li {
        list-style: none;
        width: 100%;
        float: left;
        text-align: center;
        padding: 12px;
        font-size: calc(1rem + 1vh);
        a {
            color: var(--general-text-color);
            text-decoration: none;
            font-size: $generalText;
            &.active {
                color: var(--primary-color);
            }
            svg {
                height: $generalText;
                position: relative;
                bottom: 2px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    aside {
        &.left {
            padding-left: calc(2rem + 2vw);
        }
    }
}

@media only screen and (max-width: 1024px) {
    aside {
        &.right {
            top: 0 !important;
            transform: translateX(100%);
        }
        &.right.open {
            transform: translateX(0%);
        }
    }
    .app-content {
        margin-right: 0px !important;
    }
}

@media only screen and (max-width: 768px) {
    aside {
        width: calc(15rem + 15vw);
        .sidebar-content {
            ul {
                &.tabs {
                    display: none !important;
                }
            }
        }
        &.left {
            top: 0 !important;
            transform: translateX(-100%);
        }
        &.left.open {
            transform: translateX(0%);
        }
    }
    .app-content {
        margin-left: 0px !important;
    }
    .tabs-menu {
        display: flex !important;
    }
}