// Font Family
$fontFamily: "Balsamiq Sans", cursive;
// Font Sizes
$generalText: calc(0.8em + 0.8vh);
$titleText: calc(0.9em + 0.9vh);
$normalRext: calc(1em + 1vh);
$headingText: calc(1.3em + 1.3vh);
$paragraphText: calc(0.6em + 0.6vh);
// Transitions
$themeTrasition: 0.75s;
$sidebarTrasition: 0.25s;
$buttonTransiotnDuration: 0.4s;
// Colors
.sienna {
  --primary-color: #e76f51;
  --primary-tint: #f9edea;
  --secondary-color: #dea47e;
}

.blue {
  --primary-color: #219ebc;
  --primary-tint: #cfecfa;
  --secondary-color: #8ecae6;
}

.green {
  --primary-color: #02c39a;
  --primary-tint: #283d3b;
  --secondary-color: #b7e4c7;
}

.red {
  --primary-color: #e5383b;
  --primary-tint: #780000;
  --secondary-color: #b1a7a6;
}

.light {
  --primary-background-color: #f9edea;
  --border-color: #dddddd;
  --danger-color: #e82d2d;
  --box-background-color: #fbfafa;
  --navbar-background-color: #fffcfc;
  --general-text-color: #000000;
}

.dim {
  --primary-background-color: #35231f;
  --border-color: #242424;
  --danger-color: #e82d2d;
  --navbar-background-color: #211b1a;
  --box-background-color: #211b1a;
  --general-text-color: #ffffff;
}

.dark {
  --primary-background-color: #181818;
  --border-color: #242424;
  --danger-color: #e82d2d;
  --navbar-background-color: #211b1a;
  --box-background-color: #181818;
  --general-text-color: #ffffff;
}

// Paddings
$boxPadding: calc(0.5rem + 0.5vh);
// Margins
$boxMargin: calc(0.5vw + 0.5rem) calc(0.5vw + 0.5rem);
// Shadows
$boxShadow: 0px 0px 26px rgb(0 0 0 / 10%);
// Radiuses
$boxRadius: 15px;
