// Font Family
$fontFamily: "Balsamiq Sans", cursive;
// Font Sizes
$generalText: calc(0.8em + 0.8vw);
$headingText: calc(1.3em + 1.3vw);
$paragraphText: calc(0.6em + 0.6vw);
// Transitions
$themeTrasition: 0.75s;

// Colors
.light {
  --primary-color: #e76f51;
  --primary-background-color: #ffffff;
  --secondary-color: #dea47e;
  --border-color: #dddddd;
  --danger-color: #e82d2d;
  --box-background-color: #fbfafa;
  --navbar-background-color: #fffcfc;
  --general-text-color: #000000;
}

.dark {
  --primary-color: #e76f51;
  --primary-background-color: #181818;
  --secondary-color: #dea47e;
  --border-color: #242424;
  --danger-color: #e82d2d;
  --navbar-background-color: #211b1a;
  --box-background-color: #211b1a;
  --general-text-color: #ffffff;
}

// Paddings
$boxPadding: 30px 25px;

// Shadows
$boxShadow: 0px 0px 26px rgb(0 0 0 / 10%);

// Radiuses
$boxRadius: 15px;
