// Font Family
$fontFamily: Nunito, Helvetica Neue, Helvetica, Arial, sans-serif;
// Transitions
$themeTrasition: 0.75s;

// Colors
.light {
  --primary-color: #e76f51;
  --primary-background-color: #ffffff;
  --secondary-color: #dea47e;
  --box-background-color: #f9f9f9;
  --navbar-background-color: #f9f9f9;
  --general-text-color: #000000;
}

.dark {
  --primary-color: #e76f51;
  --primary-background-color: #181818;
  --secondary-color: #dea47e;
  --navbar-background-color: #211b1a;
  --box-background-color: #211b1a;
  --general-text-color: #ffffff;
}

// Paddings
$boxPadding: 20px;

// Shadows
$boxShadow: 4px 4px 16px rgba(0, 0, 0, 0.1);

// Radiuses
$boxRadius: 15px;
